/* Avoid overwriting Material-UI defaults */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Retain styles for specific components, if necessary */
a {
  text-decoration: none;
  color: inherit;
}

/* Can go in a global.css or layout.css file */
.hover-shadow:hover {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.transition {
  transition: all 0.3s ease-in-out;
}
